<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.board.mapper.BoardMapper">

  <!-- resultMap 정의 -->
  <resultMap id="boardMap" type="Board">
    <id property="no" column="no" />
    <result property="no" column="no" />
    <result property="title" column="title" />
    <result property="writer" column="writer" />
    <result property="content" column="content" />
    <result property="createdAt" column="created_at" />
    <result property="updatedAt" column="updated_at" />
    <!-- 1:1(일대일) 매핑-->
    <association property="mainFile"
                javaType="Files"
                select="com.aloha.board.mapper.FileMapper.selectByParent"
                column="{parentTable=parent_table, parentNo=no}"
      />
    <!-- M:N(다대다) 매핑 -->
    <collection property="fileList"
                ofType="Files"
                select="com.aloha.board.mapper.FileMapper.listByParent"
                column="{parentTable=parent_table, parentNo=no}"
      />
  </resultMap>

  <!-- 게시글 목록 -->
  <select id="list" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    ORDER BY created_at DESC
  </select>

  <!-- 게시글 목록 -->
  <select id="listWithParam" parameterType="Params" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    <!-- 정렬 -->
    <if test="sortBy != null and sortBy.size() > 0">
      ORDER BY
      <foreach collection="sortBy" item="column" index="idx" separator=", ">
        ${column} 
        <if test="sortOrder != null and sortOrder.size() > idx">
          ${sortOrder[idx]}
        </if>
      </foreach>
    </if>
    <if test="sortBy == null or sortBy.size() == 0">
      ORDER BY created_at DESC
    </if>
  </select>

  <!-- 페이징 목록 -->
  <select id="page" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    ORDER BY created_at DESC
    LIMIT #{index}, #{size}
  </select>

  <!-- 페이징 목록 -->
  <select id="pageWithParam" parameterType="Params" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    <!-- String keyword="테스트"; Integer index=10; -->
    <!-- ${} : 키워드 그대로 쿼리에 적용 ( ${keyword} ➡ 테스트) -->
    <!-- #{} : (String) #{keyword} ➡ '테스트', (Integer) #{index} ➡ 10 -->
    <if test="sortBy != null and sortBy.size() > 0">
      ORDER BY
      <foreach collection="sortBy" item="column" index="idx" separator=", ">
        ${column} 
        <if test="sortOrder != null and sortOrder.size() > idx">
          ${sortOrder[idx]}
        </if>
      </foreach>
    </if>
    <if test="sortBy == null or sortBy.size() == 0">
      ORDER BY created_at DESC
    </if>
    LIMIT #{index}, #{size}
  </select>

  <!-- 페이징 목록 -->
  <!-- ⚡여러 파라미터를 @Param으로 넘긴다면, parameterType는 생략 -->
  <select id="pageWithPaginationAndParam" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    <!-- String keyword="테스트"; Integer index=10; -->
    <!-- ${} : 키워드 그대로 쿼리에 적용 ( ${keyword} ➡ 테스트) -->
    <!-- #{} : (String) #{keyword} ➡ '테스트', (Integer) #{index} ➡ 10 -->
    <if test="params.sortBy != null and params.sortBy.size() > 0">
      ORDER BY
      <foreach collection="params.sortBy" item="column" index="idx" separator=", ">
        ${column} 
        <if test="params.sortOrder != null and params.sortOrder.size() > idx">
          ${params.sortOrder[idx]}
        </if>
      </foreach>
    </if>
    <if test="params.sortBy == null or params.sortBy.size() == 0">
      ORDER BY created_at DESC
    </if>
    LIMIT #{pagination.index}, #{pagination.size}
  </select>



  <!-- 게시글 조회 -->
  <select id="select" resultMap="boardMap">
    SELECT b.*
          ,'board' AS parent_table
    FROM board b
    WHERE no = #{no}
  </select>

  <!-- 게시글 등록 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="no">
    INSERT INTO board ( id, title, writer, content )
    VALUES ( #{id}, #{title}, #{writer}, #{content} )
  </insert>

  <!-- 게시글 수정 -->
  <update id="update">
    UPDATE board
       SET title = #{title}
          ,writer = #{writer}
          ,content = #{content}
    WHERE no = #{no}
  </update>

  <!-- 게시글 삭제 -->
  <delete id="delete">
    DELETE FROM board
    WHERE no = #{no}
  </delete>

  <!-- 데이터 개수 조회 -->
  <select id="count" resultType="long">
    SELECT COUNT(*)
    FROM board
  </select>
  
</mapper>