<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>연결된 페이지</h1>
    <h2>/request/board</h2>
    <hr>
    <h3>POST 요청</h3>
    <form action="/request/board" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="no" placeholder="번호 입력">
        <button type="submit">요청</button>
    </form>

    <hr>
    <h3>POST - checkbox 요청</h3>
    <form action="/request/check" method="post">
        <input type="checkbox" name="hobby" id="movie" value="movie" />
        <label for="movie">영화감상</label>

        <input type="checkbox" name="hobby" id="music" value="music" />
        <label for="music">음악감상</label>

        <input type="checkbox" name="hobby" id="book" value="book" />
        <label for="book">독서</label>
        
        <input type="submit" value="등록">
    </form>

    <hr>
    <h3>POST - person + major + checkbox 요청</h3>
    <form action="/request/check/personDTO" method="post">
        <div>
            <label for="name">이름 : </label>
            <input type="text" name="person.name" id="name">
        </div>
        <div>
            <label for="name">나이 : </label>
            <input type="text" name="person.age" id="age">
        </div>
        <div>
            <label for="major">전공 : </label>
            <input type="text" name="major" id="major">
        </div>
        <input type="checkbox" name="hobby" id="movie" value="movie" />
        <label for="movie">영화감상</label>

        <input type="checkbox" name="hobby" id="music" value="music" />
        <label for="music">음악감상</label>
        
        <input type="checkbox" name="hobby" id="book" value="book" />
        <label for="book">독서</label>
        
        <input type="submit" value="등록">
    </form>

    <h3>/request/file</h3>
    <form action="/request/file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" /> <br>
        <input type="submit" value="업로드" />
    </form>

    <hr>

    <h3>/request/file/board</h3>
    <form action="/request/file/board" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="제목" /> <br>
        <input type="text" name="writer" placeholder="작성자" /> <br>
        <input type="text" name="content" placeholder="내용" /> <br>

        <input type="file" name="fileList" multiple /> <br>
        <input type="submit" value="업로드" />
    </form>

    <hr>
    <div style="height: 500px;"></div>
</body>
</html>