/* Gmarket Sans Font */

@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gmarket Sans', sans-serif !important;
}